.container{ }
.link:hover{color: #53c29b; text-decoration: underline;}

.topContainer{margin-bottom: 30px; display: flex; gap: 30px; align-items: center; color: #fff;}
.topContainer h1{ font-size: 40px;}
.topContainer p{font-size: 16px;}
.content{display: flex; flex-direction: column; gap: 30px;}


.author{display: flex; gap: 20px;  align-items: center;}
.author .imgContainer{ width: 50px; aspect-ratio: 1 / 1; height: auto; border-radius: 50%; overflow: hidden;}
.author p{color:#fff; display: block;}

.imgContainer{width: 600px; height: 300px; position: relative;border-radius: 20px; overflow: hidden;}
.imgContainer img{object-fit: cover; }

.bottomContainer p{ margin-bottom: 30px;}