.catTitle{color: #53c253; text-transform: capitalize;}
.catTitle .link{ color:#fff}
.catTitle .link:hover{ text-decoration: underline;}

.item{display: flex; gap: 50px; margin: 50px 0 100px; }
.item:nth-child(2n+1){
    flex-direction: row-reverse;
}

.item > div{position: relative;  flex: 1;display: flex; justify-content: center; flex-direction: column; gap: 30px; }
.content h1{font-size: 50px;}
.imgContainer{width: 300px; aspect-ratio: 1;}
.imgContainer img{object-fit: cover;}